* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header, nav, .projects-area, .steps-area, footer {
    border: 1px solid black;
}

header {
    height: 10vh;
    width: 100vw;
}

main {
    display: flex;
    width: 100vw;
}

nav, .projects-area, .steps-area {
    height: 85vh;
}

nav, .steps-area {
    width: 20vw;
}

.projects-area {
    width: 60vw;
}

footer {
    height: 5vh;
    width: 100vw;
}



